@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    user-select: none;
}
body{
    background: #e9e9e9 url('assets/background.jpg') center/cover no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
nav{
    background: hsl(226, 83%, 30%);
}
h1, h2{
    color: hsl(210, 11%, 15%);
    font-family: "Noto Serif", serif;
}
h1{
    padding: 1rem;
    font-size: 3rem;
    font-family: "Noto Serif", serif;
}
h2{
    font-size: 2.3rem;
}
.container-fluid{
    background: rgba(255, 255, 255, 0.8);
    max-width: 1850px;
    height: 100vh;
}
.carousel-inner {
    max-height: 35rem;
    overflow: hidden;
}
.carousel-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .carousel-button {
        visibility: hidden;
    }
}
.carousel-button a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}
.background-overlayFirst, .background-overlaySecond, .background-overlayThird {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}
.background-overlayFirst{
    background-image: url("assets/carouselFirst.jpg");
}
.background-overlaySecond {
    background-image: url("assets/carouselSecond.jpg");
}
.background-overlayThird {
    background-image: url("assets/carouselThird.jpg");
}
.carouselImgBackground {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.table{
    font-size: 1.2rem;
}
footer {
    display: flex;
    justify-content: center;
    background: hsl(226, 83%, 30%);
    min-height: 5rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
    footer ul {
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}